
h1 {
	color: var(--M3-sys-light-on-secondary-container, #0B1E26);
	text-align: center;

	/* M3/label/large */
	font-family: Roboto;
	font-size: 38px;
	font-style: bold;
	font-weight: 500;
	line-height: 20px; /* 142.857% */
	letter-spacing: 0.1px;
}
.layout-h1 {
	display: flex;
	padding: 6px 12px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	color: var(--M3-sys-light-on-secondary-container, #0B1E26);
	text-align: center;
}
.style-h1 {
	border-radius: 8px;
	background: var(--M3-sys-light-secondary-container, #D2E5F1);
}
.center {
	text-align: center;
}